
    /* Start Card Header */

    /* .head1 {
        align-items: center;
        justify-content: center;
        position: flex;
        margin: auto;
        width: 100%;
    } */

    /* End Card Header */